/**
* @file fonts.css
*/

/* Examples */

/* @import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700;900&display=swap'; */
/* @font-face {
  font-display: auto;
  font-family: 'Circular';
  font-style: normal !important;
  font-weight: normal !important;
  src: url('/fonts/CircularSpotifyText-Book.woff2') format('woff2'),
    url('/fonts/CircularSpotifyText-Book.woff') format('woff'),
    url('/fonts/CircularSpotifyText-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CircularSpotifyText-Book.ttf') format('truetype');
} */
